@page
@model Raul_Moldovan_Medii.Pages.Mechanics.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Mechanic</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Mechanic.FirstName" class="control-label"></label>
                <input asp-for="Mechanic.FirstName" class="form-control" aria-required="true"/>
                <span asp-validation-for="Mechanic.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Mechanic.LastName" class="control-label"></label>
                <input asp-for="Mechanic.LastName" class="form-control" aria-required="true"/>
                <span asp-validation-for="Mechanic.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mechanic.Specialization" class="control-label"></label>
                <input asp-for="Mechanic.Specialization" class="form-control" />
                <span asp-validation-for="Mechanic.Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
